.card_list {
  background-size: cover;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1615414015111-8d98cb65677e?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 20px;
  width: 350px;
  a {
    color:white;
  }
}


.boxy_thingy {
  margin: 30px;
  #my_lists {
    margin-left: 28px;
  }
}

.list_lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hold_button {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  .btn {
    margin: 5px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.card-category {
  display: flex;
  flex-direction: column;

  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  width: 500px;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;

  }
  .card_info {
    padding: 20px;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

  }
  .info {
    padding: 10px;
  }

  .foots {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      color: red;
      text-decoration: none;
      justify-content: flex-end;
    }
  }
}

#title {
  padding-left: 10px;
  font-weight: bold;
}
